.mycart{
    padding-top: 2.5rem;
    min-height: 63vh;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#footer-font{
  color: black;
}

.incdec{
  font-size: 1.3rem;
}

.cal-prices{
  letter-spacing: 1px;
  color: #ff6600;
}

.mycart h5,h4{
  color: #ff6600;
  font-size: 1.4rem;
}

.cart-item{
  color: white;
}

.cart-item h6{
  color: #ff6600;
  font-size: large;
}

.order-cont{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-main-bg{
  background-image: url("https://cdn.magicdecor.in/com/2023/09/29160424/3D-Wallpaper-for-Restaurant-Wall-Mix-710x488.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 1.1rem;
}

.close{
  background-color: #ff6600;
  height: 2rem;
  width: 2rem;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.empty-cart{
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.6); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.empty-centered {
    max-width: 100%;
  }
  
  .empty-centered img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
  }

  .empty-centered h1{
    font-size: 3.5rem;
    color: #ff6600;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }


